{% include "navbar/navbar.html"%}
<!-- this goes into the block content tags space in the header file. Each page will enclose its content
in these tags -->
<body id="departments-page">
	<script>
		$(document).ready(function(){
    $('.collapsible').collapsible();
  });
       </script>
<div class="container">
	<h2>Departments</h2>
	<p>Click on any college to toggle between showing and hiding content.</p>
	<ul class="collapsible" data-collapsible="accordion">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">school</i>College of Arts and Sciences
			</div>
			<div class="collapsible-body">
				<div class = "row match-my-cols">
					<div class = "col s12 m4">
						<h6><a href = "/courses/L90/"> African American Studies</a></h6> 
						<h6><a href = "/courses/L98/">American Culture Studies</a></h6> 
						<h6><a href = "/courses/L48">Anthropology</a></h6>
						<h6><a href = "/courses/L49/">Arabic</a></h6>
						<h6><a href = "/courses/L52/">Archaeology</a></h6>
						<h6><a href = "/courses/L01/">Art History and Archaeology</a></h6>
						<h6><a href = "/courses/L46/">Asian American Studies</a></h6>
						<h6><a href = "/courses/L41/">Biology and Biomedical Studies</a></h6>
						<h6><a href = "/courses/L56/">Center for the Humanities</a></h6>
						<h6><a href = "/courses/L07/">Chemistry</a></h6> 
						<h6><a href = "/courses/L66/">Children's Studies</a></h6>
						<h6><a href = "/courses/L04/">Chinese</a></h6>
						<h6><a href = "/courses/L08/">Classics</a></h6>
						<h6><a href = "/courses/L59/">College Writting Program</a></h6>
						<h6><a href = "/courses/L16">Comparative Literature</a></h6>
						<h6><a href = "/courses/L29/">Dance</a></h6>
						<h6><a href = "/courses/L15/">Drama</a></h6>
						<h6><a href = "/courses/L19/">Earth and Planetary Sciences</a></h6> 
						<h6><a href = "/courses/L03/">East Asian Studies</a></h6> 
						<h6><a href = "/courses/L11/">Economics</a></h6>
						<h6><a href = "/courses/L12/">Education</a></h6>
						<h6><a href = "/courses/L14/">English Literature</a></h6>
						<h6><a href = "/courses/L82/">Environmental Studies</a></h6>
						<h6><a href = "/courses/L79/">European Studies</a></h6>
					</div>
					
					<div class = "col s12 m4">
						<h6><a href = "/courses/L53/">Film and Media Studies</a></h6>
						<h6><a href = "/courses/L61/">Focus</a></h6>
						<h6><a href = "/courses/L34/">French</a></h6> 
						<h6><a href = "/courses/L43/">General Studies</a></h6> 
						<h6><a href = "/courses/L21/">Germanic Languages and Literature</a></h6>
						<h6><a href = "/courses/L09/">Greek</a></h6>
						<h6><a href = "/courses/L74/">Hebrew</a></h6>
						<h6><a href = "/courses/L73/">Hindi</a></h6>
						<h6><a href = "/courses/L22/">History</a></h6>
						<h6><a href = "/courses/L93/">Interdisciplinary Project in the Humanities</a></h6>
						<h6><a href = "/courses/L97/">International and Area Studies</a></h6>
						<h6><a href = "/courses/L36/">Italian</a></h6>
						<h6><a href = "/courses/L05/">Japenese</a></h6> 
						<h6><a href = "/courses/L75/">Jewish, Islamic, and Near Eastern Studies</a></h6> 
						<h6><a href = "/courses/L51/">Korean</a></h6>
						<h6><a href = "/courses/L10/">Latin</a></h6>
						<h6><a href = "/courses/L45/">Latin American Studies</a></h6>
						<h6><a href = "/courses/L84/">Legal Studies</a></h6>
						<h6><a href = "/courses/L44/">Linguistics</a></h6>
						<h6><a href = "/courses/L24/">Mathematics</a></h6>
						<h6><a href = "/courses/L85/">Medical Humanities</a></h6>
						<h6><a href = "/courses/L96/">Mind, Brain, and Behavior</a></h6> 
						<h6><a href = "/courses/L63/">Movement Science</a></h6>
						<h6><a href = "/courses/L27/">Music</a></h6>
					</div>
					
					<div class = "col s12 m4">
						<h6><a href = "/courses/L99/">Overseas Programs</a></h6>
						<h6><a href = "/courses/L54/">Pathfinder Program</a></h6>
						<h6><a href = "/courses/L47/">Persian</a></h6>
						<h6><a href = "/courses/L30/">Philosophy</a></h6>
						<h6><a href = "/courses/L64/">Philosophy-Neuroscience-Psychology</a></h6>
						<h6><a href = "/courses/L28/">Physical Educaiton</a></h6>
						<h6><a href = "/courses/L31/">Physics</a></h6> 
						<h6><a href = "/courses/L50/">Political Economy</a></h6> 
						<h6><a href = "/courses/L32/">Political Science</a></h6>
						<h6><a href = "/courses/L37/">Portuguese</a></h6>
						<h6><a href = "/courses/L62/">Praxis</a></h6>
						<h6><a href = "/courses/L33/">Psychological and Brain Sciences</a></h6>
						<h6><a href = "/courses/L57/">Religion and Politics</a></h6>
						<h6><a href = "/courses/L23/">Religious Studies</a></h6>
						<h6><a href = "/courses/L78/">Romance Languages and Literatures</a></h6>
						<h6><a href = "/courses/L39/">Russian</a></h6> 
						<h6><a href = "/courses/L83/">Russian Studies</a></h6> 
						<h6><a href = "/courses/L40/">Sociology</a></h6>
						<h6><a href = "/courses/L38/">Spanish</a></h6>
						<h6><a href = "/courses/L89/">Speech and Hearing</a></h6>
						<h6><a href = "/courses/LGS/">The Graduate School</a></h6>
						<h6><a href = "/courses/L18/">Urban Studies</a></h6>
						<h6><a href = "/courses/L77/">Women, Gender, and Sexuality</a></h6>
						<h6><a href = "/courses/L13/">Writing</a></h6> 
					</div>
				</div>	
		</div>
		</li>
		
		
		<li>
			<div class="collapsible-header">
				<i class="material-icons">business</i>Olin School of Business</div>
			<div class="collapsible-body">
				<div class = "row match-my-cols" style = "padding: 12px;">
					<div class = "col s12 m4">
						<h6><a href = "/courses/B50/">Accounting(B50)</a></h6>
						<!-- Didn't scrape these courses -->
						<h6><a href = "/courses/B60/">Accounting(B60)</a></h6> 
						<h6><a href = "/courses/B51/">Administration</a></h6> 
						<h6><a href = "/courses/B52/">Finance(B52)</a></h6> 
						<h6><a href = "/courses/B62/">Finance(B62)</a></h6> 
						<h6><a href = "/courses/B56/">Human Resources Management</a></h6> 
					</div>
					<div class = "col s12 m4">
						<h6><a href = "/courses/B99/">International Studies</a></h6>
						<h6><a href = "/courses/B53/">Management(B53)</a></h6>
						<h6><a href = "/courses/B63/">Management(B63)</a></h6>
						<h6><a href = "/courses/B54/">Manegerial Economics(B54)</a></h6>
						<h6><a href = "/courses/B64/">Manegerial Economics(B64)</a></h6>
						<h6><a href = "/courses/B55/">Marketing(B55)</a></h6>
						
					</div>
					<div class = "col s12 m4">
						<h6><a href = "/courses/B65/">Marketing(B65)</a></h6>
						<h6><a href = "/courses/B57/">Oper & Manufacturing Management (B57)</a></h6>
						<h6><a href = "/courses/B67/">Oper & Manufacturing Management (B67)</a></h6>
						<h6><a href = "/courses/B58/">Oper & Supply Chain Management</a></h6>
						<h6><a href = "/courses/B66/">Organizational Behavior</a></h6>
						<h6><a href = "/courses/B59/">Quantitive Business Analysis</a></h6>
					</div>
				</div>
			</div>
		</li>
		
		
		<li>
			<div class="collapsible-header"><i class="material-icons">keyboard</i>School of Engineering and Applied Science</div>
			<div class="collapsible-body">
				<div class = "row match-my-cols">
				  <div class = "col s12 m4">
					  <h6><a href = "/courses/E62/">Biomedical Engineering</a></h6>
					  <h6><a href = "/courses/E81/">Computer Science and Engineering</a></h6>  
				  </div>
				  <div class = "col s12 m4">
					  <h6><a href = "/courses/E35/">Electrical and Systems Engineering</a></h6>
					  <h6><a href = "/courses/E44/">Energy, Environemntal and Chemical Engineering</a></h6>
				  </div>
				  <div class = "col s12 m4">
					  <h6><a href = "/courses/E60/">General Engineering</a></h6>
					  <h6><a href = "/courses/E37/">Mechanical Engineering and Materials Science</a></h6>
				  </div>
			  </div>
			</div>
		</li>
		
		<li>
			<div class="collapsible-header">
				<i class="material-icons">brush</i>Sam Fox School of Art
			</div>
			<div class="collapsible-body">
				<div class = "row match-my-cols" style = "padding: 12px;">
					<div class = "col s12 m4">
						<h6><a href = "/courses/F00/">Art</a></h6> 
					</div>
					<div class = "col s12 m4">
						<h6><a href = "/courses/F10/">Art (core and major studio courses)</a></h6>
					</div>
					<div class = "col s12 m4">
						<h6><a href = "/courses/F20/">Art (elective studio courses)</a></h6>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>



	
	

	
</body>
</div>
